# ==========================================
# FRONTEND (Vite) Environment Variables
# ==========================================
# URL API Backend (untuk development lokal)
VITE_API_URL=http://localhost:5000/api

# ==========================================
# BACKEND Environment Variables
# (simpan di backend/.env)
# ==========================================
# PORT=5000
# MONGODB_URI=mongodb+srv://...
# JWT_SECRET=rahasia_token_aman_123
# ROLE_ADMIN_PASS=admin123
# ROLE_HUMAS_PASS=adminman
# ROLE_OSIM_PASS=osim12
